.gallery-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 10px;
    

}

/* cart Responsive */

/* phone */
@media only screen and (max-width:576px){
    .gallery-container{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    .gallery-container img {
        width: 450px;
    }

    .login-container{
        /* background-repeat: no-repeat; */
    }
    
    .about{
        display: block;
    }

    footer{
        width: 100%;
    }
}
/* IPad  */
@media only screen and (max-width:577px) and (min-width:992px){
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .gallery-container img {
        width: 430px;
    }
}



