.cart{
    /* text-align: center; */
}
.cart img{
    width: 500px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.cart>img:hover{
    transform: scale(1.1);
    transition: transform 2s;
}